.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #2d2a26;
}

.required {
  color: #e67817;
}

.inputContainer {
  display: flex;
}

.input {
  width: 100%;
  padding: 12px;
  padding-right: 40px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
  transition: border 0.2s ease;
}

.input:focus {
  border-color: #e67817;
}

.errorInput {
  border-color: #e74c3c;
}

.errorText {
  margin-top: 6px;
  font-size: 12px;
  color: #e74c3c;
}

.icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}