.container {
  height: calc(90vh - 150px);
  width: 100vw;
  background-color: #f5f3f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.logoSection {
  text-align: center;
  margin-bottom: 20px;
}

.logoIconContainer {
  width: 50px;
  height: 50px;
  background-color: #e67817;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin: 0 auto 16px;
  color: white;
}

.logoIcon {
  width: 30px;
  height: 30px;
}

.brand {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  color: #2d2a26;
}

.tagline {
  margin-top: 8px;
  color: #7a746d;
}

.card {
  width: 100%;
  max-width: 420px;
  background: #fff;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.title {
  margin: 0;
  text-align: center;
  font-size: 22px;
  color: #2d2a26;
}

.subtitle {
  text-align: center;
  margin: 10px 0 30px;
  color: #7a746d;
  font-size: 14px;
}

.form {
  display: flex;
  flex-direction: column;
}

.ctaWrapper {
    display: flex;
    gap: 8px;
}


