.wrapper {
  max-width: 800px;
  margin: 40px auto;
}

.title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.clockIcon {
  color: #e67817;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 600px;
  overflow-y: auto;
}

.emptyList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
  background-color: #e67d2218;
  height: 200px;
  border-radius: 14px;
}